body{
	margin: 0;
	padding: 0;
    }
    
    .container{
	/* background-color:; */
	height: 100vh !important; 
	overflow: hidden !important;
    }
    
    #ball{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: aquamarine;
	position: relative;
	top:45vh;
	left:45vh;
    }